@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

h1,h2,h3,h4,h5,h6 {
  margin-top: 0px;
}

html {
  font-size: 1.1rem;
  min-height: 100%;
  height: 100%;
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > * {
    margin-bottom: 10px;
  }

  input[type="submit"] {
    margin-top: 10px;
  }
}

input[type="text"], input[type="password"], input[type="number"] {
  padding: 10px 15px;
  background: $backgroundColor;
  border: $borderWidth solid $color;
  color: $color;
  border-radius: $borderRadius;
  font-size: 0.9rem;

  &:focus, &:active {
    outline: none;
    box-shadow: $outlineShadow;
  }
}

button, input[type="submit"] {
  font-weight: bold;
  color: $buttonColor;
  background: $buttonBg;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: $borderRadius;
  border: $borderWidth solid $buttonBg;
  transition: all 0.125s ease-in-out;
  font-size: 1rem;
  box-shadow: 0px;

  &:hover {
    background: $color;
    border-color: $color;
    color: $backgroundColor;
  }

  &:focus, &:active {
    outline: none;
    box-shadow: $outlineShadow;
  }
}